# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.env
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Visual Studio Code
devtools_options.yaml

# Rust related
.cargo/
target/

# Generated messages
*/**/messages/
